/* FONTS +S CROLL BAR */
/* Regular */
@font-face {
    font-family: "Aeonik";
    src: url("fonts/Aeonik-Regular.woff2") format("woff2"),
      url("fonts/Aeonik-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  
  /* Black */
  @font-face {
    font-family: "Aeonik";
    src: url("fonts/Aeonik-Black.woff2") format("woff2"),
      url("fonts/Aeonik-Black.woff") format("woff");
    font-weight: 800;
    font-style: normal;
  }
  
  /*Black Italic */
  @font-face {
    font-family: "Aeonik";
    src: url("fonts/Aeonik-BlackItalic.woff2") format("woff2"),
      url("fonts/Aeonik-BlackItalic.woff") format("woff");
    font-weight: 800;
    font-style: italic;
  }
  
  /* light */
  @font-face {
    font-family: "Aeonik";
    src: url("fonts/Aeonik-Light.woff2") format("woff2"),
      url("fonts/Aeonik-Light.woff") format("woff");
    font-weight: 200;
    font-style: normal;
  }
  
  ::-webkit-scrollbar {
    width: 3px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: antiquewhite;
    transition: background-color 2s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(102, 101, 99);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


body {
    font-family: Aeonik;
    
    padding: 0;
    background-color: black;
    overflow: hidden;
}

.container {
  height:100% ;
  margin: 20px;
  overflow: hidden;
}

h1 {
    text-align: center;
    color: #CC0033;
    margin-bottom: 10%
}
h4 {
    font-weight: bold;
    margin-bottom: 1px; /* Add space between the label and the first question */
}

#quizContainer {
  background-color: antiquewhite;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.question {
    margin-bottom: 20px;
}
.question h3 {
    margin-bottom: 10px;
}
.options label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}
.question-header {
    display: flex;
    align-items: center;
}

.question-header h3 {
    margin-left: 10px; /* Adjust the spacing between checkbox and question title */
}

.question-card {
  
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: antiquewhite;
}

.nav-buttons {
  margin-top: 20px;
  text-align: right;
}

.nav-buttons button {
  margin-left: 10px;
  padding: 5px 15px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.nav-buttons button:hover {
  background-color: #0056b3;
}
#submitButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#submitButton:hover {
    background-color: #45a049;
}
#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
h3 {
    font-size: 1rem;

}
  
}


@media screen and (min-width: 768px) {
 .container {
  margin-left: 15%;
  margin-right: 15%;
 }

  }